body {
    background-color: hsl(0, 0%, 80%)
}
h1,
h2 {
    color: white;
    text-align: center;
    margin-bottom: 0;
}
h3 {
    text-align: center;
}
h4 {
    margin: 10px;
}
a {
    text-decoration: none;
}
header {
    background-image: url(./HeaderBackground.jpg);
    background-size: cover;
    opacity: 90%;
    height: 100%;
}

hero {
    display: flex;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
}

aside {
    padding: 10px;
    width: 340px;
    background-image: linear-gradient(to left, rgb(180, 180, 180), rgb(255, 255, 255))
}
.objectives {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.objectives p {
    margin: 0;
}
.project_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.project_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 320px;
    margin: 10px;
    padding: 5px;
    background-color: antiquewhite;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 1.5;
    text-decoration: none;
}
.project_card:hover {
    background-color: burlywood;
}
.work_list {
    margin: 0;
    padding: 0;
}
.work_list li{
    margin: 10px;
    padding: 10px;
    list-style: none;
}
.period {
    /* margin: 5px; */
    padding: 5px 20px;
    color: rgb(85, 85, 85);
    font-weight: 700;
    border: 1px solid gray;
    border-top: 1px solid white;
}
.firmName {
    font-size: larger;
    font-weight: 400;
}
.info {
    text-align: center;
    /* padding-left: 20px; */
}
.position {
    padding-left: 20px;
    padding-top: 5px;
    font-size: large;
    /* font-weight: 700; */
    line-height: 1.5;
}



.techStack {
background-color: rgba(0, 27, 150, 0.5);

}
.photo {
    display: block;
    margin: 0 auto 10px;
}
.subSection {
    width: 100%;
}
.subSection ul {
    margin-bottom: 40px;
}
.summary {
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}
p.contacts-title,
p.skills-title {
    font-size: large;
    margin: 0;
}
.hardskills,
.softskills,
.languages {
    font-size: large;
    list-style-type: "- ";
    line-height: 1.4;
}
.contacts {
    font-size: large;
    list-style: none;
    line-height: 1.4;
}
.in_process {
    margin-left: 10px;
}